#cc-dot-txt {
    position: absolute;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

#cc-dot-img {
    position: absolute;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

#cc-img-txt {
    cursor: pointer;
}

#cc-img-img {
    cursor: pointer;
}

#vec-cc-txt button {
    border-radius: 0.5em;
}

#vec-cc-txt label {
    border-radius: 0.5em;
}

#vec-cc-img button {
    border-radius: 0.5em;
}

#vec-cc-img label {
    border-radius: 0.5em;
}
